<!-- <table>
    <tr>
      <th>Name</th>
      <th>Domain</th>

    </tr>
    <tr *ngFor="let mydata of data[0]">
      <td>{{mydata.name}}</td>
      <td>{{mydata.domain}}</td>
    </tr>
</table>
<div [innerHTML]="profile[0]"></div> -->
<mat-toolbar color="primary">
  <div>
    <button mat-button *ngIf="!currentUser" routerLink="/register">Register</button>&nbsp;
    <button mat-button *ngIf="!currentUser" routerLink="/login">Login</button>&nbsp;
    <button class="right-btn" mat-button *ngIf="currentUser" (click)="logout()">Logout</button>&nbsp;
    <button class="right-btn-2" mat-button *ngIf="currentUser" routerLink="/profile">Profile</button>&nbsp;
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
