<div class="register-form">
  <h3>Register</h3>
  <form #login = "ngForm" (ngSubmit) = "register(login.value)" novalidate>
    Name <span class="required">*</span> : <input type = "text" name = "name" placeholder = "Enter your name..." [(ngModel)]='formname'  required>
    <br/>
    Branch : <input type = "text" name = "branch" placeholder = "Enter your branch..." [(ngModel)]='formbranch' >
    <br/>
    Email <span class="required">*</span> : <input type = "text" name = "email" placeholder = "Enter your email..." [(ngModel)]='formemail'  required>
    <br/>
    Password <span class="required">*</span> : <input type="password" name="password" placeholder="Enter your password..." [(ngModel)]='formpswd'  required>
    <br/>
    <button type="submit" [disabled]="!formemail && !formpswd && !formname">Sign Up</button>
    <div class="default">Already a user? Please <a routerLink='/login'>Login</a></div>
  </form>
</div>
<router-outlet></router-outlet>
